<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Edit Listing</h2>
    <form method="post" action="/listing/<%= listing._id %>?_method=PUT">
      <input
        type="text"
        value="<%= listing.title %>"
        name="listing[title]"
      /><br /><br />
      <input
        type="text"
        value="<%= listing.description %>"
        name="listing[description]"
      /><br /><br />
      <input
        type="text"
        value="<%= listing.image.url %>"
        name="listing[image.url]"
      /><br /><br />
      <input
        type="text"
        value="<%= listing.price %>"
        name="listing[price]"
      /><br /><br />
      <input
        type="text"
        value="<%= listing.country %>"
        name="listing[country]"
      /><br /><br />
      <input
        type="text"
        value="<%= listing.location %>"
        name="listing[location]"
      /><br /><br />
      <button>edit</button>
    </form>
  </body>
</html>
